body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
	height: 300px;
	width: 300px;
	padding: 12px;
}

.float-left {
	float: left;
	padding-left: 0;
}

.float-right {
	float: right;
	padding-right: 0;
}